.base-input {
  display: block;
  height: 60px;
  background-color: $white;
  padding: 15px 20px;
  letter-spacing: 0.01em;
  font-size: 1.1rem;
  border-radius: 0px;
  box-sizing: border-box;

  &::placeholder {
    opacity: 1;
    color: $gray-light;
  }
}