.nav-breadcrumb {
  display: block;
  max-width: $container-lg-width;
  margin: 0 auto;
  padding: 0px $gutter/2;
}
.breadcrumb {
  @extend .list-inline;
  font-size: 0.65rem;
  color: #626161;
}
.breadcrumb__item {
  @extend .list-inline-item;
  position: relative;
  width: auto;
  display: inline-block;
  padding-right: 35px;
  &:after {
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    content: " ";
    width: 20px;
    height: 1px;
    background-color: $gray-darker;
  }
  &:last-child:after {
    display: none;
  }
}
.breadcrumb__item-link {
color: $gray-darker;
  &:hover {
    color: $primary-color;
  }
  &:active, &:focus {
    color: $primary-color;
  }
}