.button-group {
  .button-group__button-show-search {
    @extend button;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 12.5px 15px;
    border-color: transparent;
    padding: 0 15px;

    &:after {
      width: 20px;
      height: 20px;
      top: 10px;
      left: 10px;
      position: absolute;
      z-index: 10;
      display: block;
      content: " ";
      background-image: url("/img/search.svg");
    }
  }
  .button-group__button-cart {
    @extend button;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 12.5px 12px;
    border-color: transparent;
    padding: 0 15px;

    &:after {
      width: 20px;
      height: 20px;
      top: 10px;
      left: 10px;
      position: absolute;
      z-index: 10;
      display: block;
      content: " ";
      background-image: url("/img/cart.svg");
    }
  }
}