.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $container-lg-width;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gutter/2;

  &__item {
    display: flex;
    //flex: 0 0 100%;
    @media (min-width: $container-sm-width) {
      flex: 0 0 auto;
    }
  }
};
@media (min-width: $container-sm-width) {
  .content-header {
  }
};
.content-header__link {
  @extend .button;
  @extend .btn-primary;
}

