.language-switcher {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #FFFFFF;

}
.language-switcher__button {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  color: $primary-font-color;
  margin: 12.5px 12px;
  @extend .button;
  padding: 4px;

  &:before {
    position: absolute;
    width: 10px;
    height: 10px;
    content: " ";
    background-image: url("/img/dropdown-arrow.svg");
    right: 0;
    top: 17px;
  }
}