/**
 * Google Map, select box and autocomplete field styles.
 */
.map-controls {
  position: relative;
  display: flex;
  max-width: $container-lg-width;
  padding: 0 $gutter/2;
  margin: 0 auto 15px;
  height: 65px;
  &:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 15px;
    right: 15px;
    background-color: #E5E5E5;
    height: 1px;
  }
  &:after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: #E5E5E5;
    height: 1px;
  }
}

.controls {
  position: relative;
  display: flex;

  &:before {
    content: " ";
    position: absolute;
    top: 26px;
    right: 15px;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    transform: rotate(-45deg);
  }

}

.controls__select {
  background-color: $white;
  color: $secondary-font-color;
  outline: none;
  padding: 15px;
  width: 305px;
  height: 65px;
  border-width: 1px 1px 1px 0;
  border-color: #E5E5E5;
  font-size: 20px;
  border-left-color: transparent;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
  line-height: 1;
}

.map-autocomplete {
  display: flex;
  flex: 0 0 auto;
  height: 65px;
  border-width: 1px 0 1px 0;
  border-color: #E5E5E5;
}
.gm-map {
  height: 624px;
  width: 100%;
}

#listing {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: auto;
}

#controls {
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.placeIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}
