.page-header {
  display: block;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  z-index: 10;
  height: 65px;
}

.navbar {
  display: block;
  max-width: 1736px;
  margin: 0 auto;

  &__logo-link {
    display: inline-block;
    float: left;
    margin: 18px 18px 17px 18px;
  }

  &__toggler {
    display: none;
    visibility: hidden;
  }
}

.page-menu {
  display: inline-block;
  float: left;

  * {
    display: inline-block;
    float: left;
  }

}

.nav {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  @media (min-width: 1200px) {

  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__link {
    padding: 11px 12.5px;
    color: $primary-font-color;
    line-height: 1;

    &:hover {
      color: $primary-color;
    }
  }
}

.language-switcher {
  display: inline-block;
  float: right;
}

.button-group {
  display: inline-block;
  float: left;
}

.search {
  display: none;
  visibility: hidden;
}