.map-search-results {
  display: block;
  width: 100%;
  padding: 0;
  background-color: #fafafa;
  &__panel {
    display: block;
    max-width: $container-lg-width;
    margin: 0 auto;
    padding: 15px $gutter/2 80px;

    .wrapper {
      background-color: $white;
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
      margin-bottom: 15px;
      padding: 25px;
      color: $secondary-font-color;
      font-size: 1rem;

      p {
        position: relative;
        display: inline-block;
        width: 19.7%;
        margin-bottom: 0.12rem;

        &:nth-child(3) {
          width: 33%;
        }
        &:nth-child(4) {
          width: 18%;
        }

        &:nth-child(4) {
          width: 17%;
        }
        &:nth-child(5) {
          width: 17.5%;
        }
        &:nth-child(6) {
          width: 17%;
        }
        &:nth-child(7) {
          width: 14%;
        }

      }
      .city {
        color: $primary-font-color;
        font-size: 1.5rem;
        line-height: 1.3;
        display: block;
        width: 100%;
      }
      .place {
        color: $gray-light;
        display: block;
        font-size: 0.9rem;
        width: 100%;
      }
      p:last-child a {
        display: inline-block;
        padding-left: 30px;
        background-image: url("/img/map/map_marker__solid.svg");
        background-position: left;
        background-repeat: no-repeat;
      }
    }
    //&:nth-child(3) {
    //  width: 25%;
    //}
    //.wrapper:nth-child(3) {
    //  width: 25%;
    //}
  }
 }

