.subscribe-section {
  background-color: $primary-color;
}
.subscribe-content {
  max-width: $container-lg-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subscribe-block {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px $gutter/2;
}

.subscribe-block_wide {
  //display: flex;
  //flex: 0 0 60%;
}
.subscribe-block_thin {
  //display: flex;
  //flex: 0 0 230px;
}
.subscribe-form {
  margin-bottom: 0;
}
.subscribe-form__input {
  @extend .base-input;
  width: 418px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: inline-block;
  float: left;
  height: 60px;

}
.subscribe-form__button {
  @extend .button;
  height: 60px;
  background-color: $primary-font-color;
  color: $white;
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 14px 14px 16px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.subscribe-block__social-links {
  display: block;
}
.subscribe-block__social-list {
  @extend .list-inline;
  height: 42px;
}
.subscribe-block__social-item {
  @extend .list-inline-item;
  width: 42px;
  height: 42px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }

}
.subscribe-block__social-link {
  display: block;
  width: 42px;
  height: 42px;
  background-position: center;
  padding: 10px;
  background-repeat: no-repeat;
  cursor: pointer ;
}
.subscribe-block__social-link_bg-facebook {
  background-image: url("/img/social-icons/facebook.svg");
}
.subscribe-block__social-link_bg-insta {
  background-image: url("/img/social-icons/insta.svg");
}
.subscribe-block__social-link_bg-youtube {
  background-image: url("/img/social-icons/youtube.svg");
}