@mixin button {
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 100;
  height: 60px;
  letter-spacing: .1rem;
  line-height: 38px;
  margin-bottom: 1rem;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transition-duration: 200ms;
  white-space: nowrap;
};
@mixin hover-style {
};