@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $breakpoint-xs ) { @content; }
  }
  @if $class == sm {
    @media (max-width: $breakpoint-xs ) { @content; }
  }
  @if $class == sm {
    @media (max-width: $breakpoint-xs ) { @content; }
  }
  @if $class == sm {
    @media (max-width: $breakpoint-xs ) { @content; }
  }
}

@mixin  container {
  display: flex;
  max-width: $container-lg-width;
  margin: 0 auto;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-lg) {
    max-width: $container-md-width;
  }
  @media (max-width: $breakpoint-md) {
    max-width: $container-sm-width;
  }
  @media (max-width: $breakpoint-sm) {
    max-width: $container-xs-width;
  }
}

@mixin column($number) {
  flex: 0 0 percentage($number);
}