@mixin base-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $primary-font-color;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $border-color;
  border-radius: $btn-border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}