<section id="breadcrumb" class="section-breadcrumb">
    <div class="nav-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__item-link" href="#">Головна</a></li>
            <li class="breadcrumb__item">Де купити?</li>
        </ul>
    </div>
</section>