<footer class="page-footer">
    <div class="footer-content">
        <div class="footer-content__block">
            <h4 class="footer-content__block-title">Центр обслуговування</h4>
            <p>info@akvarodos.com</p>
            <p>02222, г. Киев, ул. Пуховская 2б</p>
            <p>+38 /068/ 384 07 70</p>
            <p>+38 /050/ 381 07 70</p>
        </div>
        <div class="footer-content__block footer-content__block_column-thin">
            <h4 class="footer-content__block-title">Продукція</h4>
            <p><a href="#">Меблі для ванни</a></p>
            <p><a href="#">Кераміка</a></p>
            <p><a href="#">Аксесуари</a></p>
            <p><a href="#">Все для душа</a></p>
            <p><a href="#">Змішувачі</a></p>
            <p><a href="#">Меблі для дому</a></p>
        </div>
        <div class="footer-content__block footer-content__block_column-thin">
            <h4 class="footer-content__block-title">Інформація</h4>
            <p><a href="#">Про нас</a></p>
            <p><a href="#">Блог</a></p>
            <p><a href="#">Контакти</a></p>
            <p><a href="#">Магазин</a></p>
        </div>
        <div class="footer-content__block footer-content__block_column-wide">
            <div class="footer-content__block-image"></div>
            <div class="footer-content__block-text_font-ubuntu">
                Компанія АКВА РОДОС є лідером в Україні з виробництва еклюзивних і серійних меблів. Протягом 15 років ми
                створюємо бренд, який асоціюється з високою якістю і бездоганним дизайном.
            </div>
            <div class="footer-content__block-menu">
                <ul class="footer-content__language-switcher">
                    <li class="footer-content__language-switcher-item"><a href="#" class="footer-content__language-switcher-link footer-content__language-switcher-link_active">Ua</a></li>
                    <li class="footer-content__language-switcher-item"><a class="footer-content__language-switcher-link" href="#">Ru</a></li>
                    <li class="footer-content__language-switcher-item"><a class="footer-content__language-switcher-link" href="#">En</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom-content">
        <div class="footer-bottom-content__copyright">
            <p>© Аква Родос, 2019, всі права захищено</p>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/app.js"></script>
<script src="js/bundle.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfUCurMWJdJ-AZONZ2LXJeyAJl-juIhSg&libraries=places&callback=initMap">
</script>
</body>
</html>