<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <title><%=title%></title>
</head>
<body class="page">
<header class="page-header header">
    <nav class="navbar">
        <a class="navbar__logo-link" href="#"><img src="img/logo.svg"></a>
        <button class="navbar__toggler" type="button" data-toggle="collapse" data-target=".page-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar__gamburger"></span>
        </button>

        <div class="page-menu">
            <ul class="nav">
                <li class="nav__item">
                    <a class="nav__link" href="#">Меблі для ванної кімнати</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Меблі для дому</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Змішувачі та аксесуари</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Про нас</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Покупцям</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Партнерам</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Де купити?</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Контакти</a>
                </li>
            </ul>
            <div class="button-group">
                <button class="button-group__button-show-search"></button>
                <button class="button-group__button-cart"></button>
            </div>
            <div class="language-switcher dropdown">
                <a class="language-switcher__button dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ua
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-menu__item" href="#">En</a>
                    <a class="dropdown-menu__item" href="#">By</a>
                    <a class="dropdown-menu__item" href="#">Kz</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="search">
        <form class="search-form">
            <div class="search-form__content">
                <input class="search-form__input">
                <button class="search-form__button"></button>
            </div>
        </form>
        <button class="search__close-button"></button>
    </div>
</header>