<section id="subscribe" class="subscribe-section">
    <div class="subscribe-content">
        <div class="subscribe-block subscribe-block_wide">
            <form class="subscribe-form">
                <input type="email" class="subscribe-form__input" placeholder="Ваш email">
                <button class="subscribe-form__button">Підписатися на оновлення</button>
            </form>
        </div>
        <div class="subscribe-block subscribe-block_thin">
            <div class="subscribe-block__social-links">
                <ul class="subscribe-block__social-list">
                    <li class="subscribe-block__social-item">
                        <a class="subscribe-block__social-link subscribe-block__social-link_bg-facebook"></a></li>
                    <li class="subscribe-block__social-item">
                        <a class="subscribe-block__social-link subscribe-block__social-link_bg-insta"></a></li>
                    <li class="subscribe-block__social-item">
                        <a class="subscribe-block__social-link subscribe-block__social-link_bg-youtube"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>