// -----------------------------------------------------------------------------
// Contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.page-footer {
  background-color: $primary-font-color;
}

.footer-bottom-content {

}

.footer-content {
  display: flex;
  flex-direction: row;
  max-width: $container-lg-width;
  margin: 0 auto;

  &__block {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 70px $gutter/2 60px;
    color: $gray-dark;
    font-size: 0.9rem;
    line-height: 1.3;
    letter-spacing: 0.03px;

    a {
      color: $gray-dark;
      &:hover {
        color: $white;
      }
    }

  }
  .footer-content__block_column-thin {
    flex: 0 0 18.5%;
  }

  .footer-content__block_column-wide {
    flex: 0 0 37.5%;
    padding-left: 80px;
  }

  &__block-title {
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
  }
  .footer-content__block-image {
    background-image: url("/img/logo-footer.svg");
    width: 202px;
    height: 35px;
    max-width: 100%;
    margin-bottom: 35px;
  }
  .footer-content__block-text_font-ubuntu {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
  }
  .footer-content__language-switcher {
    @extend .list-inline;
    display: inline-block;
  }
  .footer-content__language-switcher-item {
    @extend .list-inline-item;
    margin-right: 20px;
    padding: 0;

  }
  .footer-content__language-switcher-link {
    display: block;
    height: 36px;
    background-color: $primary-color;
    color: $white;
    font-size: 0.9rem;
    letter-spacing: 0.03em;
    padding: 6px 9px;
  }
  .footer-content__language-switcher-link_active {
    background-color: transparent;
    border: 1px solid $white;
  }
}
.footer-bottom-content {
  position: relative;
  display: block;
  max-width: $container-lg-width;
  margin: 0 auto;
}
.footer-bottom-content__copyright {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px $gutter/2 40px;
  color: $gray-dark;
  margin: 0 auto;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  &:before {
    position: absolute;
    display: block;
    top: 0;
    left: 15px;
    right: 15px;
    content: " ";
    height: 1px;
    background-color: $gray-darkest;
  }
}

