/*
Grid
This is a grid made using flexbox. Use the ff classes to setup a flexbox grid:
.flex-grid               - Grid is always shown, even in small screens
// Modifier classes for `.flex-grid`.
// Use these classes to set the screen width when the grid is visible.
// Grid Modifiers
.flex-grid--md           - Grid starts at medium sized screens
.flex-grid--lg           - Grid starts at large and up screens
Use `.flex-grid__col` to define a column inside a `.flex-grid` grid.
Direct children of `.flex-grid` are columns with the class,
`.flex-grid__col`
Markup:
<div class="demo-grid">
  <div class="flex-grid">
    <div class="flex-grid__col">Cell 1</div>
    <div class="flex-grid__col">Ce
    ll 2</div>
    <div class="flex-grid__col">Cell 3</div>
  </div>
  <div class="flex-grid flex-grid--md">
    <div class="flex-grid__col flex-grid__col--sm">Half-width column</div>
    <div class="flex-grid__col">Default width column</div>
  </div>
  <div class="flex-grid flex-grid--md">
    <div class="flex-grid__col flex-grid__col--fixed-width">Cell 1</div>
    <div class="flex-grid__col">Cell 2</div>
  </div>
  <div class="flex-grid flex-grid--lg">
    <div class="flex-grid__col flex-grid__col--lg">Double-width column</div>
    <div class="flex-grid__col">Default width column</div>
  </div>
</div>
// Column modifiers
.flex-grid__col--sm           - half the width of default column
.flex-grid__col--lg           - double the width of default column
.flex-grid__col--fixed-width  - fixed-width column (default = 200px)
*/

// row
.flex-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// columns
.flex-grid > * {
  flex: 1;
  // padding-left: 1rem;
  // padding-right: 1rem;

  //default column width
  &.flex-grid__col {
    flex-grow: 4;
    margin-left: $flex-grid--column-margin;
  }

  // fixed-width column (default = 200px)
  &.flex-grid__col--fixed-width {
    flex: 0 0 $flex-grid__column--fixed-width;
  }

  // half the width of default column
  &.flex-grid__col--sm {
    flex-grow: 2;
  }

  // double the width of default column
  &.flex-grid__col--lg {
    flex-grow: 8;
  }

  &:first-child {
    margin-left: 0rem;
  }

  &:last-child {
    margin-right: 0rem;
  }
}

@media (max-width: 549px) {
  .flex-grid--md {
    display: block;
  }

  .flex-grid--md > * {
    padding-left: 0;
    padding-right: 0;

    &.flex-grid__col {
      margin-left: 0;
    }

  }
}

@media (max-width: 959px) {
  .flex-grid--lg {
    display: block;
  }

  .flex-grid--lg > * {
    padding-left: 0;
    padding-right: 0;

    &.flex-grid__col {
      margin-left: 0;
    }
  }
}

%flex-grid {
  display: flex;
  flex-wrap: wrap;
}

%flex-grid__column {
  display: flex;
  flex-direction: column;
}
