// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

@font-face {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  //src: url("../fonts/PTSansNarrow-Regular.ttf") format("truetype");
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  padding: 65px 0 0 0 !important;
}