<% var data = {
title: "Aquarodos | Google Maps",
author: "Jees-Uck"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb.html').default)(data) %>

<section class="page-content">
    <div class="content-header">
        <div class="content-header__item">
            <h1 class="content-header__title">Де купити?</h1>
        </div>
        <div class="content-header__item">
            <a class="content-header__link" href="#">В інтернет магазин</a>
        </div>
    </div>
    <div class="map-controls">
        <div id="controls" class="controls">
            <select id=" country" class="controls__select">
                <option value="all">All</option>
                <option value="ua">Україна</option>
                <option value="by">Беларусь</option>
            </select>
        </div>
        <div class="map-autocomplete"></div>
    </div>
    <div id="map" class="gm-map"></div>
    <div class="map-search-results">
        <div id="panel" class="map-search-results__panel">
            <div class="wrapper"><p class="city">Вінниця</p>
                <p class="place">Фірмовий салон “Аквародос”</p>
                <p>вул. Келецька 117Б, ТЦ “Plaza Park”</p>
                <p>+38 (067) 422-25-81</p>
                <p>juliadizayn@urk.net</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p>
            </div>
            <div class="wrapper"><p class="city">Вишгород</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Кургузова 11А</p>
                <p>+38 (067) 442-75-19</p>
                <p>panaeon@gmail.com</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Гостомель</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Кулішова Д, 26, ТЦ “Варшавка”</p>
                <p></p>
                <p></p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Біла церква</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Гоголя 19А, Мебітар</p>
                <p>+38 (098) 343-41-64</p>
                <p>eurodim-mebitar@ukr.net</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Житомир</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Вітрука 9Б, ТЦ “Rolf”</p>
                <p>+38 (063) 458-49-65</p>
                <p>rolf7000@ukr.net</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Вінниця</p>
                <p class="place">Фірмовий салон “Аквародос”</p>
                <p>вул. Липовецька, 6А, ТЦ Віват</p>
                <p>+38 (067) 507-08-67</p>
                <p>akvablesk@rambler.ru</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Дніпро</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Нижньодніпровська 17, ТЦ “Караван”</p>
                <p>+38 (097) 506-38-81</p>
                <p>tar.olga@ukr.net</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Дніпро</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Космічна 53А, ТЦ “Biennale”</p>
                <p>+38 (067) 25-097-29</p>
                <p>babyasdivan@gmail.com</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Дніпро</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Стартова 9А, ТЦ “Нова лінія”</p>
                <p>+38 (067) 25-097-29</p>
                <p>babyasdivan@gmail.com</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Запоріжжя</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Гагаріна 3, ТЦ “Імперія меблів” 2 поверх</p>
                <p></p>
                <p></p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Івано-Франківськ</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Мазепи 168А, ТЦ “Сільпо”, 4 поверх</p>
                <p>+38 (097) 800-20-12</p>
                <p>derkach_yulia@ukr.net</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Дрогобич</p>
                <p class="place">Магазин партнер “Аквародос”</p>
                <p>вул. Пилипа орлика 15/3</p>
                <p>+38 (067) 721-47-74</p>
                <p>metr22017@gmail.com</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
            <div class="wrapper"><p class="city">Бердянськ</p>
                <p class="place">Фірмовий салон “Аквародос”</p>
                <p>вул. Свободи 53, Салон “Merx”</p>
                <p>+38 (050) 903-35-82</p>
                <p>ok5550@gmail.com</p>
                <p class="hours">Пн-Нд: 09:00-18:00</p>
                <p><a href="#">Показати на карті</a></p></div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/subscribe.html').default)(data) %>

<%= _.template(require('./../includes/footer.html').default)(data) %>