//Grid
$container-width-larger-than-phablet: 1314px;
$container-lg-width: 1314px;
$container-md-width: 960px;
$container-sm-width: 768px;
$container-xs-width: 100%;

//Colors
$body-bg-color: #E5E5E5;

$primary-color: #06357A;
$primary-color-dark: #33527B;
$primary-color-light: #33527B;

$secondary-color: #33527B;
$secondary-color-dark: #33527B;
$secondary-color-light: #33527B;

$tertiary-color:#779FD1;

$info-color: blue;
$info-color-light: blue;

$warning-color: #BA4346;
$warning-color-light:#DC7375;

$success-color: green;
$success-color-light: green;

$primary-font-color:#000000;
$secondary-font-color:#000000;

//Font
$font-stack: 'PT Sans Narrow','Open Sans','Helvetica Neue',sans-serif;
$font-size--base: 20px;
$font-size--sm: 0.8rem;

/*$background-image-path: url();*/

//header content
$header-wrapper-width: 100%;
$logo-column-width: 20%;
$nav-wrapper-width: ($header-wrapper-width - $logo-column-width);

//Box-sizing
$box: border-box;

$container-xl-width: 1314px;
$container-sm-el-width: 1140px;

//Buttons
$btn-default-color: #333333;
$btn-default-bg: #f2f2f2;
$btn-default-border: #ccc;

$btn-primary-color: #333333;
$btn-primary-bg: transparent;
$btn-primary-border: $primary-color;

$btn-success-color: #333333;
$btn-success-bg: transparent;
$btn-success-border: #0b8b7e;

$btn-info-color: #333333;
$btn-info-bg: transparent;
$btn-info-border: #61bfc7;

$btn-warning-color: #333333;
$btn-warning-bg: transparent;
$btn-warning-border: #d96477;

$btn-danger-color: #333333;
$btn-danger-bg: transparent;
$btn-danger-border: #fba41b;

//Button size
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  30px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$btn-border-radius:         0;

//Buttons
$global-radius: 0px;


// Brands
$brand-primary: #06357A;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

//Typography
$font-family: PT Sans Narrow, sans-serif;
$font-path: ("../fonts/PTSansNarrow-Regular.ttf");
$font-size-base: 14px;
$font-size-small: 0.9em;
$font-size-large: 1.2em;
$line-height-base: 1.5;
$text-color: #333333;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Prefixer
$prefix-for-webkit: webkit;
$prefix-for-mozilla: moz;
$prefix-for-microsoft: ms;
$prefix-for-opera: o;

/// @require {variable} $prefix-for-spec

$gutter: 30px;

//Container
$container-lg-width: 1344px;
$container-md-width: 960px;
$container-sm-width: 768px;
$container-xs-width: 100%;

$breakpoint-lg: $container-lg-width - 1;
$breakpoint-md: $container-md-width - 1;
$breakpoint-sm: $container-sm-width - 1;
$breakpoint-xs: 479px;


// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

//Globals
$line-height:            2.4rem !default;
$global-radius:          .2rem !default;
$border-color:            #bbb !default;
$border-color:            #bbb !default;

// Font variables
$primary-font-color: #231F20;
$secondary-font-color: #717171;

$font-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$font-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-base:        $font-sans-serif;
$font-color:       #222222 !default;

$font-size:                1rem !default;
$font-size--lg:            ceil($font-size * 1.23); // ~20px
$font-size--md:            ceil($font-size * 1.14); // ~16px
$font-size--sm:            ceil($font-size * 0.92); // ~13px
$font-size--xs:            ceil($font-size * 0.85); // ~12px


// Gray colors for theme
$gray-lightest:          #f6f6f6;
$gray-lighter:           #e4e4e4;
$gray-light:             #B9B9B9;
$gray:                   #a8a8a8;
$gray-dark:              #878787;
$gray-darker:            #5C5C5C;
$gray-darkest:           #3A3637;

$border-color: #01275E; //From subscribe form

// Classic brand colors
$color-primary:         rgba(52, 152, 219,1.0);
$color-primary--dark:   darken($color-primary, 5%) !default;
$color-secondary:       $gray-dark !default;

$color-info:            #5BC0EB;
$color-success:         #2BC016;
$color-warning:         #E67E22;
$color-danger:          #C3423F;

$color-link:            #496DDB !default;
$color-link--visited:   #9140D4 !default;
$color-link--hover:     darken($color-link, 10%) !default;
$color-link--active:    #D44076 !default;

$white:         #ffffff !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
$color-brand: rgb(229, 0, 80) !default;

// Z-Index
$z-index-0:   -1;
$z-index-1:   10;
$z-index-2:   20;
$z-index-3:   30;
$z-index-4:   40;
$z-index-5:   50;
$z-index-6:   60;
$z-index-7:   70;
$z-index-8:   80;
$z-index-9:   90;
$z-index-10: 100;


// Grid Variables
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids

// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;